*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-snap-type: y mandatory;
}
.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.app_videos{
  width: 70%;
  max-width:500px;
  height:670px;
  box-shadow: 0px 10px 10px 6px rgba(0,0,0,0.3);
  margin: 20px;
  background-color: #fff;
  position: relative;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  border-radius: 30px;

}
.app_videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app_videos {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}